.red {
  color: red;
}

.green {
  color: green;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

.delete-icon {
  background: url('/img/glyphicons_016_bin.png');
  background-size: 12px 18px;
  width: 12px;
  height: 18px;
  float: right;
  position: relative;
  top: -22px;
  opacity: 0;
  cursor: pointer;
}

li.active .delete-icon {
  opacity: 0.5;
}

li.active .delete-icon:hover, .delete-icon:hover {
  opacity: 0.8;
}

.delete-icon:active {
  opacity: 1.0;
}

h2.editable-title:hover .content {
  text-decoration: underline;
  color: gray;
  cursor: text;
}
h2.editable-title .edit-icon {
  background: url('/img/glyphicons_150_edit.png');
  background-size: 24px 21px;
  width: 24px;
  height: 21px;
  display: inline-block;
  opacity: 0.2;
  cursor: pointer;
}
h2.editable-title:hover .edit-icon {
  opacity: 0.5;
}
h2.editable-title:active .edit-icon {
  opacity: 1.0
}

h2.editable-title .content.editing {
  color: black;
  background-color: white;
  padding: 3px;
  border: 1px solid gray;
}